.avatar-picture-con {
    width: 150px;
    margin: auto auto 1rem auto;
    text-align: center;

}

.avatar-picture-box {
    display: flex;
    margin: auto;
    border: solid 1px #56568a;
    height: 9rem;
    width: 9rem;
    margin-bottom: 1rem;
    background-color: #f8f8f8;
    border-radius: 50%;
}

.avatar-picture-box span {
    align-self: center;
    margin: auto;
    height: 6rem;
    width: 7rem;
    font-size: 13px;
    line-height: 33px;
}

.avatar-picture-box:hover {
    /* background-color: #2de608; */
    background-color: #75b4f2;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.avatar-picture-con img {
    width: -webkit-fill-available;
    /* z-index: 5; */
    border-radius: 50%;
}

.profile-info-box h5 {
    margin: 0 auto 1.2rem auto !important;
    width: 80% !important;
    /* height: 2rem !important;
        line-height: 2rem; */
}
.profile-info-box div {
    margin: 3px auto 3px auto;
    border: solid 1px #adf;
}

.profile-info-box div span {
    margin: auto auto auto 3px !important;
}
.edit-profile-btn{
    margin-top: 1rem !important;
}