.checkBtnUnclicked {
    box-shadow: "0 0 0 0.2rem rgba(0,123,255,.5) !important";
    background-color: #4a424ccf !important;
    margin: 5px !important;
    min-width: unset !important;
    padding: 4px 5px !important;
    line-height: unset !important;
}

.checkBtnUnclicked:hover {
    background-color: #1f5da2 !important;

}

.checkBtnClicked {
    box-shadow: "0 0 0 0.2rem rgba(0,123,255,.5)" !important;
    background-color: #2de608 !important;
    margin: 5px !important;
    min-width: unset !important;
    padding: 4px 5px !important;
    line-height: unset !important;
}

.avatar-picture-con {
    width: 150px;
    height: 150px;
    border: solid 1px #56568a;
    margin: auto;
    text-align: center;
}

.avatar-picture-con img {
    z-index: 5;
}

.avatar-picture-con span {
    line-height: 50px;
}