.checkBtnUnclicked {
    box-shadow: "0 0 0 0.2rem rgba(0,123,255,.5) !important";
    background-color: #4a424ccf !important;
    margin: 5px !important;
    min-width: unset !important;
    padding: 4px 5px !important;
    line-height: unset !important;
}

.checkBtnUnclicked:hover {
    background-color: #1f5da2 !important;

}

.checkBtnClicked {
    box-shadow: "0 0 0 0.2rem rgba(0,123,255,.5)" !important;
    background-color: #2de608 !important;
    margin: 5px !important;
    min-width: unset !important;
    padding: 4px 5px !important;
    line-height: unset !important;
}

.avatar-picture-con {
    width: 150px;
    margin: auto auto 1rem auto;
    text-align: center;

}

.avatar-picture-box {
    display: flex;
    border: solid 1px #56568a;
    height: 9rem;
    width: 9rem;
    margin-bottom: 1rem;
    cursor: pointer;
    background-color: #f8f8f8;
    border-radius: 50%;
        position: relative;
}

.avatar-picture-box span {
    align-self: center;
    margin: auto;
    height: 6rem;
        width: 7rem;
        font-size: 13px;
        line-height: 33px;
}

.avatar-picture-box:hover {
    /* background-color: #2de608; */
    background-color: #75b4f2;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.avatar-picture-con img {
    width: -webkit-fill-available;
    /* z-index: 5; */
}

.remove-image-btn{
        height: 20px !important;
        font-size: xx-small !important;
        cursor: pointer !important;
        padding: 15px !important;
        background: red !important;
        color: white !important;
        border: none !important;
}
.img-warn-txt{
    position: absolute;
        left: 0;
        right: 0;
}
.voluteer-box{
    font-size: 0.9rem !important;
    margin: 0px !important;
    padding: 0px !important;
}
/* .image-events-con {
    margin-top: 2rem;
} */